* {
    margin: 0px;
    padding: 0px;
}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 80vw;
    height: 12vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(236, 241, 248); */
    border-bottom: 1px lightgray solid;
}

.main {
    width: 80vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.selectbox {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px lightgray solid;
    border-radius: 10px;
    padding-top: 7px;
    margin-top: 10px;
}

.content {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;
    /* border: 1px lightgray solid; */
    border-radius: 10px;
}

.gragh {
    display: flex;
    flex-direction: row;
    justify-content: top;
    align-items: center;
    width: 100%;
    height: 25vh;
    /* border: 1px lightgray solid; */
    border-radius: 10px;
    /* padding: 10px 5px 10px 5px; */
}

.left {
    width: 50%;
    height: 90%;
    justify-content: center;
    align-items: top;
    padding-right: 5px;
}

.right {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
}

.map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px lightgray solid;
}

.chartarea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    padding-left: 5px;
}

.chart {
    border: 1px lightgray solid;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 5px 0px 5px 0px;
}

.col-auto {
    font-family: "D2Coding";
    width: 200px;
}

#button {
    width: 75px;
}

.form-select-sm{
    padding: 7.5px;
    border-radius: 6px;
    width: 200px;
}

#calendar {
    margin-right: 16px;
}

.apexcharts-legend-text {
    font-family: "D2Coding";
}

.headerimage {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    height: 100%;
    width: 30%;
    padding: 10px;
}

.headerdetail {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    height: 100%;
    width: 70%;
}

.headerbutton {
    margin: 0px 80px 0px 80px;
    font-family: 'D2Coding';
    font-size: 1.6em;
    font-weight: bold;
}

.signbutton {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin: 0px 20px 0px 80px;
}

.signbutton > Button {
    margin: 10px;
    font-family: 'D2Coding';
    font-size: 1.1em;
}
.infowindow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 200px;
    height: auto;
    font-family: 'D2Coding';
    font-size: 1.1em;
}

.suddenAcc {
    background-color: rgb(38, 160, 252);
    color: white;
    width: 100%;
    padding-left: 5px;
}

.suddenDrop {
    background-color: rgb(254, 188, 59);
    color: white;
    width: 100%;
    padding-left: 5px;
}

.suddenDep {
    background-color: rgb(38, 231, 166);
    color: white;
    width: 100%;
    padding-left: 5px;
}

.suddenStop {
    background-color: rgb(255, 97, 120);
    color: white;
    width: 100%;
    padding-left: 5px;
}

.suddenAccinfo, .suddenDropinfo, .suddenDepinfo, .suddenStopinfo {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.infowindow span {
    padding-left: 5px;
}

#gragh1, #gragh2, #gragh3, #gragh4 {
    flex: 1;
    border: 1px lightgray solid;
    border-radius: 10px;
    padding: 5px 0px 5px 0px;
}

#gragh1, #gragh2, #gragh3 {
    margin: 0px 10px 0px 0px;
}

/* #gragh2, #gragh3 {
    margin: 0px 10px 0px 10px;
} */